# .gitignore

# Python
__pycache__/
*.pyc

# Environment
.env

# Data & Models - You might want to track small models/db, but not large ones
# For now, let's ignore the data directory to avoid pushing a large db file.
/data/
/models/

# VS Code
.vscode/