# .gitignore

# Python
__pycache__/
*.pyc

# Environment
.env

# Data & Models - You might want to track small models/db, but not large ones
# For now, let's ignore the data directory to avoid pushing a large db file.
/data/
/models/
/suggested_transfers/**

# VS Code
.vscode/

.update_secrets.py

.curl_input.txt